.nav ul {
  display: flex;
  justify-content: flex-end;
  list-style: none;
  align-items: center;
  li {
    &:not(:first-child) {
      font-size: var(--fontSize-1);
    }
    margin-right: 2rem;
    a {
      text-decoration: none;
      color: black;
    }
  }
  :first-child {
    margin-right: auto;
  }
}

.logo {
  font-family: firaCode-bold;
  font-size: x-large;
  letter-spacing: 2px;
}
